/* product swatches colors */
.pdp .pdp-color-swatch,
.plp .plp-color-swatch {
  /* blacks */
  --color-black: #000;
  --color-shadow-black: #000;
  --color-1100001: #100;
  --color-1100002: #100;
  --color-black-stainless-metal-finish: #161616;

  /* grays */
  --color-onyx: #353935;
  --color-abalone-grey: #3b363b;
  --color-graphite: #414141;
  --color-nano-gray: #5b6770;
  --color-graphite-metal-finish: #606060;
  --color-slate: #666;
  --color-pearl-gray: #858583;
  --color-black-diamond: #928b8b;
  --color-brushed-stainless: #b0b3b7;
  --color-grey: #e5e4e2;
  --color-platinum: #e5e4e2;

  /* whites */
  --color-white: #fff;
  --color-polar-white: #fff;

  /* browns */
  --color-espresso: #67564e;
  --color-copper-metal-finish: #f2a57e;
  --color-reflection: #f2a57e;
  --color-brushed-stainless-metal-finish: #b5aa9d;
  --color-brushed-gold: #ccba78;
  --color-cream: #fffdd0;

  /* reds */
  --color-red: #c03;
  --color-candy-apple: #c00310;
  --color-candy-apple-red: #c00310;
  --color-ruby: #e01160;

  /* oranges */
  --color-orange: #ffa600;
  --color-cinnamon: #d2691e;

  /* yellows */
  --color-yellow: #f7f700;
  
  /* greens */
  --color-sour-apple-green: #e3edb5;
  --color-turquoise: #30d5c7;

  /* blues */
  --color-cobalt: #0047ab;
  --color-blue: #1131d4;
  --color-matte-navy: #00263e;
  --color-midnight-blue: #00263e;

  /* purples */
  --color-purple: #800080;

  /* undefined */
  --color-color-not-available: ;
}
