@import url('./gallery.css');
@import url('./color-swatches.css');

/* stylelint-disable no-descending-specificity */
.pdp-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-400);
}

.pdp {
  display: grid;
  gap: var(--spacing-l) var(--spacing-xl);
  font-family: var(--font-family-body);
  grid-template-columns: 100%;
  grid-template-areas: 
    "alert"
    "title"
    "gallery"
    "buy-box"
    "content"
    "details"
    "specs"
    "faq"
    "related"
    "reviews";
}

.pdp .eyebrow {
  color: var(--color-text);
}

.pdp h1 {
  font-size: var(--font-size-700);
  font-weight: var(--weight-light);
}

@media (width >= 900px) {
  .pdp h1 {
    font-size: var(--font-size-950);
  }
}

.title {
  grid-area: title;
}

.options {
  grid-area: options;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-l);
}

.selection {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.selected-option-label {
  font-size: var(--body-size-s);
  font-weight: var(--weight-medium);
  color: var(--color-text);
}

.pdp-color-options {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.pdp-color-swatch {
  width: 24px;
  height: 24px;
  border: 1px solid #333f48;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  cursor: pointer;
}

.pdp-color-inner {
  width: 16px;
  height: 16px;
  border: 1px solid #333f48;
  border-radius: 50%;
  position: relative;
}

.pdp-color-swatch-oos.pdp-color-inner::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right bottom, 
  color-stop(0%, #fff0),
  color-stop(42%, #fff0), 
  color-stop(43%, #fff), 
  color-stop(46%, #fff), 
  color-stop(47%, #ff5216), 
  color-stop(53%, #ff5216), 
  color-stop(54%, #fff), 
  color-stop(57%, #fff), 
  color-stop(58%, #fff0), 
  color-stop(100%, #fff0)
  );
}

.pdp-oos-message {
  display: none;
  color: var(--color-red);
}

[data-oos="true"] .pdp-oos-message {
  display: block;
}

.warranty {
  font-size: var(--body-size-s);
  font-weight: var(--weight-medium);
  color: var(--color-text);
}

[data-oos="true"] .options .warranty {
  display: none;
}

.add-to-cart {
  display: flex;
  flex-direction: column;
}

.add-to-cart.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid var(--color-gray-400);
  padding: var(--spacing-80) var(--horizontal-spacing);
  background-color: var(--color-gray-100);
}

@media (width >= 900px) {
  .add-to-cart.fixed {
    position: static;
    border-bottom: 0;
    padding: 0;
    background-color: transparent;
  }
}

.add-to-cart label {
  margin-right: 8px;
}

.add-to-cart .quantity-container {
  display: flex;
  align-items: center;
  gap: 32px;
}

.add-to-cart select {
  width: 60px;
  height: 50px;
  appearance: none;
  background: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 24 24"%3E%3Cpath fill="%2337424A" d="M7 10l5 5 5-5z"/%3E%3C/svg%3E') no-repeat right 8px center;
  background-size: 18px;
  border: 1px solid var(--color-gray-500);
  border-radius: 0;
}

.add-to-cart button {
  width: 100%;
  max-width: 250px;
  padding: 8px 16px;
  font-weight: var(--weight-light);
  background-color: var(--color-charcoal);
  color: var(--color-white);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.add-to-cart button:hover {
  background-color: #2B333A;
}

.add-to-cart button[aria-disabled="true"] {
  background-color: #40596b;
  border: 1px solid #40596b;
  cursor: not-allowed;
}

a.button.pdp-find-locally-button {
  width: 100%;
  max-width: 350px;
  font-weight: var(--weight-light);
  background-color: var(--color-charcoal);
  border: none;
  border-radius: 4px;
  text-transform: none;
}

.details {
  grid-area: details;
  gap: var(--spacing-xl);
  font-family: var(--body-font-family);
  color: var(--color-text);
  font-weight: var(--weight-light);
}

.details p {
  padding-bottom: var(--spacing-s);
}

.details h2 {
  font-family: var(--body-font-family);
  font-size: var(--heading-size-m);
  font-weight: var(--weight-medium);
}

.details h3, .details h4 {
  font-family: var(--body-font-family);
  font-size: var(--heading-size-xs);
  font-weight: var(--weight-medium);
}

.details h3 {
  font-size: var(--heading-size-s);
}

.details p, .details li {
  color: var(--color-gray-900);
}

.details ul {
  padding-inline-start: var(--spacing-xl);
}

.details li {
  padding-bottom: var(--spacing-s);
}

.details dd {
  margin-inline-start: 0;
}

.tabs-container {
  grid-area: specs;
  width: 100%;
}

.tabs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  background-color: var(--color-gray-300);
}

@media (width >= 900px) {
  .tabs {
    flex-direction: unset;
    align-items: center;
  }
}

.tab {
  padding: var(--spacing-60) var(--spacing-100);
  cursor: pointer;
  height: 57px;
  text-transform: uppercase;
  color: var(--color-link);
}

.tab.active {
  color: var(--color-text);
  text-decoration: underline;
  box-shadow: none;
}

.tab:focus {
  box-shadow: none;
}

.tab-contents {
  border: 1px solid #ddd;
  padding: 16px;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

.tab-content h3 {
  font-family: var(--body-font-family);
  font-size: var(--heading-size-l);
  font-weight: var(--weight-medium);
  margin-bottom: var(--spacing-m);
}

.tab-content .specifications ul {
  list-style: none;
  padding-inline-start: 0;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-s);
  font-weight: var(--weight-light);
}

.tab-content .specifications ul li p {
  padding: 5px 0 0;
  margin: 0;
}

.tab-content .warranty-container {
  display: flex;
  gap: var(--spacing-100);
}

.tab-content .warranty-icon {
  width: 150px;
  height: 150px;
  flex-shrink: 0;
}

.tab-content .warranty-text {
  font-size: 14px;
  line-height: 1.5;
}

.tab-content .warranty-link {
  color: #007bff;
  text-decoration: none;
}

.tab-content .warranty-link:hover {
  text-decoration: underline;
}

.tab-content .resources-container .resource-item span {
  padding-right: var(--spacing-s);
}

.tab-content .resources-container .resource-item p {
  font-weight: var(--weight-medium);
}

.gallery {
  grid-area: gallery;
}

/** Pricing */
.pricing-now {
  font-size: var(--font-size-200);
  font-weight: var(--weight-light);
  color: var(--color-text);
}

.pricing-final {
  font-size: var(--font-size-750);
  font-weight: var(--weight-medium);
  color: var(--color-text);
}

.pricing-savings {
  font-size: var(--body-size-s);
  font-weight: var(--weight-light);
  color: var(--color-gray-800);
  padding-bottom: var(--spacing-m);
}

/** Cookbook */
.promo-heading {
  font-size: var(--body-size-s);
  font-weight: var(--weight-medium);
  color: var(--color-text);
}

@media (width >= 900px) {
  .pdp {
    padding-top: var(--spacing-xl);
    grid-template-columns: 2fr 3fr;
    grid-template-rows: fit-content(30px) min-content 1fr auto auto auto auto auto;
    /* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
    grid-template-areas:
      "alert gallery"
      "title gallery"
      "buy-box gallery"
      "content content"
      "details specs"
      "faq faq"
      "related related"
      "reviews reviews"
  }

  .pdp[data-alert="false"] {
    grid-template-rows: min-content 1fr auto auto auto auto auto;
    grid-template-areas:
      "title gallery"
      "buy-box gallery"
      "content content"
      "details specs"
      "faq faq"
      "related related"
      "reviews reviews"
  }
}

@media (width >= 1200px) {
  .pdp {
    grid-template-columns: 1fr 1fr;
  }
}

/* FAQ */
.faq-container {
  grid-area: faq;
}

.faq-container a {
  text-decoration: none;
}

.faq-container h4 {
  font-family: var(--body-font-family);
  font-size: var(--heading-size-xl);
  font-weight: var(--weight-medium);
  margin-top: .25em;
}

.pdp .faq-container ul {
  padding-inline-start: 0;
}

.faq-container ul li {
  list-style-type: none;
  margin: 16px 0;
}

@media (width >= 900px) {
  .faq-container {
    margin: 0 10px;
    border-top: 1px solid var(--color-gray-400);
    border-bottom: 1px solid var(--color-gray-400);
    display: flex;
    gap: 10%;
  }

  .faq-container h4 {
    font-size: var(--heading-size-l);
    margin-top: 1.125em;
  }

  .faq-container ul {
    display: flex;
    justify-content: space-around;
    width: 50%;
  }
}

/** TEMPORARY */
.reviews-placeholder,
.payments-placeholder, 
.cookbook-placeholder {
  width: auto;
  max-width: 100%;
  min-width: 50%;
  height: auto;
  object-fit: scale-down;
  object-position: left;
}

.cookbook-placeholder {
  margin-left: -12px;
  cursor: pointer;
}

.pdp-reviews-summary-placeholder {
  min-height: 22.5px;
}

.pdp-reviews-container {
  grid-area: reviews;
}

.pdp-payments-placeholder {
  margin-top: var(--spacing-m);
  font-size: var(--body-size-s);
  min-height: 40px;
}

.pdp-content-fragment {
  grid-area: content;
}

.pdp-buy-box {
  grid-area: buy-box;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-l);
  justify-content: flex-start;
}

.pdp-compare-button {
  background-color: var(--color-gray-300);
  color: var(--color-text);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 8px 16px;
  font-weight: var(--weight-light);
  margin-right: var(--spacing-s);
}

.pdp-compare-container a:any-link {
  text-decoration: none;
}


.pdp div.pdp-free-shipping-container {
  display: flex;
  align-items: center;
  font-weight: bold;
  color: var(--color-black);
}

.pdp div.pdp-free-shipping-container img {
  width: 1.2em;
  height: 1.2em;
  margin-right: var(--spacing-s)
}

.pdp-share-container {
  display: flex;
  align-items: center;
  gap: var(--spacing-s);
  font-size: var(--body-size-s);
  color: var(--color-charcoal);
  margin-top: var(--spacing-s);
  border-top: 1px solid var(--color-gray-400);
  border-bottom: 1px solid var(--color-gray-400);
  padding: var(--spacing-m) 0;
}

.pdp div.pdp-share-container a img {
  width: 1.5em;
  height: 1.5em;
  background-color: currentcolor;
  border-radius: 50%;
}

.pdp div.pdp-share-container a.pdp-share-email img {
  background-color: unset;
  border-radius: unset;
}

.pdp-alert {
  grid-area: alert;
  background-color: var(--color-charcoal);
  color: var(--color-white);
  font-weight: var(--weight-medium);
  text-align: center;
  padding: var(--spacing-80) 0;
}

.pdp-alert.pdp-promo-alert {
  background-color: var(--color-xanadu);
  color: var(--color-white);
}

.pdp-related-products-container {
  grid-area: related;
  font-size: var(--body-size-l);
}

.pdp-related-products-container a {
  text-decoration: none;
}

.pdp-related-products-container h4 {
  font-size: var(--heading-size-l);
  font-weight: var(--weight-medium);
}

.pdp-related-products-container ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(257px, 1fr));
  gap: var(--spacing-s);
  list-style: none;
  padding: 0;
  margin: 0;
}

@media (width >= 900px) {
  .pdp-related-products-container ul {
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  }

  .pdp-related-products-container ul li img {
    width: 160px;
  }
}

.pdp-related-products-container ul li {
  margin: 0;
  padding: 0;
}

.pdp-related-products-container ul li a {
  display: flex;
  gap: var(--spacing-s);
}

.pdp-related-products-container ul li img {
  width: 140px;
  height: auto;
  object-fit: contain;
}

.pdp-warranty-option {
  display: flex;
  align-items: center;
  gap: var(--spacing-s);
  margin: var(--spacing-s) 0;
  font-size: var(--body-size-s);
  font-weight: var(--weight-medium);
  color: var(--color-text);
}

.pdp-warranty-option input {
  height: 24px;
  width: 24px;
  margin: 0;
}

.pdp p + h1 {
  margin-top: 0;
}

main > .section.pdp-container > div.pdp-wrapper:first-child:not(.default-content-wrapper) {
  margin-top: var(--horizontal-spacing);
}

.pdp-questions-container img.icon {
  width: 1.5em;
  height: 1.5em;
}

.pdp-questions-container a {
  display: flex;
  align-items: center;
  gap: var(--spacing-s);
  margin-top: var(--spacing-s);
}

.pdp.block.pdp-retired .add-to-cart, .pdp.block.pdp-retired .pricing, .pdp.block.pdp-retired .options, .pdp.block.pdp-retired .pdp-free-shipping-container {
  display: none;
}

.pdp.block.pdp-find-dealer .pricing, .pdp.block.pdp-find-dealer .options, .pdp.block.pdp-find-dealer .pdp-free-shipping-container {
  display: none;
}

.pdp.block.pdp-find-locally .pdp-free-shipping-container {
  display: none;
}

.pdp-collection-placeholder {
  margin: 0;
}

.section.pdp-container {
  margin-top: var(--spacing-l);
}

.pdp-free-gift-container {
  max-width: 32em;
}

.pdp-free-gift-container.hidden {
  display: none;
}

.pdp-free-gift-heading {
  font-size: var(--body-size-s);
  font-weight: var(--weight-medium);
  color: var(--color-text);
}

.pdp-free-gift-body {
  display: flex;
  align-items: center;
  gap: var(--spacing-s);
  position: relative;
  border: 1.5px solid var(--color-deep-rust);
  border-radius: 4px;
  padding: var(--spacing-s);
  padding-left: 1em;
  margin-top: var(--spacing-s);
}

.pdp-free-gift-body img {
  width: 3em;
  height: 3em;
  margin-right: var(--spacing-s);
}

.pdp-free-gift-body::after {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -10px;
  height: 20px;
  width: 20px;
  background-image: url('/blocks/pdp/free-gift-icon.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}