.banner p {
  line-height: var(--line-height-xl);
}

.banner .eyebrow,
.banner h2:not([data-eyebrow]) {
  margin-top: 0;
}

.banner > div {
  display: grid;
  gap: var(--spacing-60);
}

.banner .img-wrapper {
  order: 1;
  line-height: 0;
  text-align: center;
}

@media (width >= 1000px) {
  .banner .img-wrapper {
    order: unset;
  }
}

/* stylelint-disable no-descending-specificity */

/* inset variant */
.banner.inset {
  margin: auto;
  max-width: 600px;
}

.banner.inset .img-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  z-index: 1;
}

.banner.inset .img-wrapper video,
.banner.inset .img-wrapper img {
  border-radius: var(--rounding-m);
  width: 100%;
}

.banner.inset .img-wrapper img {
  z-index: -1;
}

@media (width >= 800px) {
  .banner.inset h2 {
    font-size: var(--font-size-900);
  }

  .banner.inset > div {
    gap: var(--spacing-800);
  }

  .banner.inset .img-wrapper {
    aspect-ratio: 4 / 3;
  }
}

@media (width >= 1000px) {
  .banner.inset {
    max-width: unset;
  }

  .banner.inset > div {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .banner.inset > div div {
    flex: 1 1 40%;
  }

  .banner.inset .img-wrapper {
    flex: 2 1 60%;
  }

  .banner.inset .img-wrapper video,
  .banner.inset .img-wrapper img {
    height: unset;
    max-height: 100%;
  }

  .banner.inset .img-wrapper.vid-wrapper video,
  .banner.inset .img-wrapper.vid-wrapper img {
    height: 100%;
  }
}

.banner.inset.text-center {
  text-align: center;
}

.banner.inset.text-center p.button-wrapper {
  justify-content: center;
}

@media (width >= 1000px) {
  .banner.inset.text-center {
    text-align: left;
  }

  .banner.inset.text-center p.button-wrapper {
    justify-content: unset;
  }
}

/* compact variant */
.banner.compact {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 430px;
  padding: var(--spacing-400) 1ch;
  z-index: 1;
}

.banner.compact::after {
  content: '';
  position: absolute;
  inset: 0;
  background-color: var(--image-color);
  z-index: -1;
}

.banner.compact.image-lightest::after {
  opacity: 0.33;
}

.banner.compact.image-dark::after,
.banner.compact.image-darkest::after,
.banner.compact.image-light::after {
  opacity: 0.66;
}

.banner.compact .eyebrow {
  color: inherit;
}

.banner.compact .button-wrapper {
  justify-content: center;
  margin-bottom: 0;
}

.banner.compact > div {
  gap: 0;
}

.banner.compact > div > div {
  max-width: 470px;
  color: var(--color-gray-100);
  text-align: center;
}

.banner.compact.image-lightest > div > div,
.banner.compact.image-light > div > div {
  color: var(--color-charcoal);
}

.banner.compact > div > .img-wrapper picture,
.banner.compact > div > .vid-wrapper {
  position: absolute;
  inset: 0;
  width: 100%;
  max-width: unset;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
  
.banner.compact > div > .img-wrapper img,
.banner.compact > div > .vid-wrapper video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner.compact > div > div:not(.img-wrapper) .img-wrapper img {
  max-width: 50px;
  margin-bottom: var(--spacing-100);
}

@media (width >= 800px) {
  .banner.compact {
    min-height: 478px;
  }

  .banner.compact > div > div {
    max-width: 575px;
  }
}

@media (width >= 1000px) {
  .banner.compact {
    min-height: 510px;
  }
}

/* aligned variant */
.banner-wrapper.aligned {
  padding: 0;
}

.banner.aligned {
  background-color: var(--color-charcoal);
  color: var(--color-white);
}

.banner.aligned h2 {
  font-size: var(--font-size-500);
}

.banner.aligned > div {
  gap: 0;
}

.banner.aligned p.eyebrow {
  color: unset;
}

.banner.aligned.right-text .img-wrapper img {
  object-position: right;
}

@media (width >= 600px) {
  .banner.aligned.right-text .img-wrapper img {
    object-position: unset;
  }
}

.banner.aligned .img-wrapper {
  position: relative;
  order: unset;
}

.banner.aligned .img-wrapper::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: transparent;
}

.banner.aligned .img-wrapper img {
  height: 250px;
  object-fit: cover;
}

.banner.aligned > div div:not(.img-wrapper) {
  box-sizing: content-box;
  margin: auto;
  max-width: 400px;
  padding: var(--spacing-400);
}

@media (width >= 800px) {
  .banner-wrapper.aligned {
    padding: 0 var(--horizontal-spacing);
  }

  .banner.aligned {
    position: relative;
  }

  .banner.aligned h2 {
    color: var(--color-gray-100);
    font-size: var(--font-size-800);
  }

  .banner.aligned.image-darkest {
    --overlay-opacity: 0.2;
  }

  .banner.aligned.image-dark {
    --overlay-opacity: 0.8;
  }

  .banner.aligned.image-light {
    --overlay-opacity: 0.8;
  
    color: var(--color-charcoal);
  }

  .banner.aligned.image-lightest {
    --overlay-opacity: 0.2;
    
    color: var(--color-charcoal);
  }

  .banner.aligned.image-lightest h2,
  .banner.aligned.image-light h2 {
    color: var(--color-charcoal);
  }

  .banner.aligned.left-text .img-wrapper::before {
    background: linear-gradient(to right, transparent, var(--image-color) 60%);
    opacity: var(--overlay-opacity);
  }

  .banner.aligned.right-text .img-wrapper::before {
    background: linear-gradient(to right, var(--image-color) 60%, transparent);
    opacity: var(--overlay-opacity);
  }

  .banner.aligned .img-wrapper img {
    height: 462px;
  }

  .banner.aligned > div div:not(.img-wrapper) {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 330px;
    padding: 0 var(--spacing-600);
    z-index: 1;
  }

  .banner.aligned.left-text > div div:not(.img-wrapper) {
    right: 0;
  }

  .banner.aligned.right-text > div div:not(.img-wrapper) {
    left: 0;
  }
}

@media (width >= 1000px) {
  .banner.aligned .img-wrapper img {
    height: 510px;
  }

  .banner.aligned > div div:not(.img-wrapper) {
    width: 400px;
    padding: 0 var(--spacing-800);
  }
}

/* image variant */
.banner.image {
  text-align: left;
  line-height: var(--line-height-xl);
}

.banner.image h2 {
  font-size: var(--font-size-500);
}

.banner.image .img-wrapper:last-child {
  display: none;
}

.banner.image > div {
  display: grid;
  align-items: center;
  gap: var(--spacing-400);
}

.banner.image .img-wrapper {
  order: unset;
}

.banner.image img,
.banner.image svg {
  width: 200px;
  height: 200px;
}

@media (width >= 800px) {
  .banner.image h2 {
    font-size: var(--font-size-800);
  }

  .banner.image img,
  .banner.image svg {
    width: clamp(200px, 26.5vw, 265px);
    height: auto;
  }

  .banner.image > div {
    grid-template-columns: clamp(200px, 26.5vw, 265px) 1fr;
    gap: var(--spacing-600);
  }

  .banner.image .img-wrapper {
    align-self: center;
  }
}

@media (width >= 1000px) {
  .banner.image img,
  .banner.image svg {
    width: clamp(265px, 26.5vw, 370px);
}

  .banner.image > div {
    grid-template-columns: clamp(265px, 26.5vw, 370px) 1fr clamp(265px, 26.5vw, 370px);
  }

  .banner.image .img-wrapper:last-child {
    display: unset;
  }
}

/* split variant */
.banner-wrapper.split {
  padding-left: 0;
  padding-right: 0;
}

.banner.split > div {
  gap: 0;
  background-color: var(--color-xanadu);
  color: var(--color-white);
}

.banner.split.square > div {
  align-items: center;
}

.banner.split.deep-rust > div {
  background-color: var(--color-deep-rust);
}

.banner.split.charcoal > div {
  background-color: var(--color-charcoal);
}

.banner.split.transparent > div {
  background-color: transparent;
  color: var(--color-charcoal);
}

.banner.split.text-center > div {
  text-align: center;
}

.banner.split .vid-wrapper {
  order: unset;
  position: relative;
  aspect-ratio: 16 / 9;
}

.banner.split .vid-wrapper .img-wrapper,
.banner.split .vid-wrapper video,
.banner.split .vid-wrapper img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.banner.split .img-wrapper {
  width: 100%;
  max-height: 50dvh;
}

.banner.split.square .img-wrapper {
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.banner.split .img-wrapper img {
  max-height: 50dvh;
  object-fit: cover;
}

.banner.split.text-center .button-wrapper {
  justify-content: center;
}

.banner.split > div > div:not([class]) {
  padding: var(--spacing-400);
}

@media (width >= 800px) {
  .banner.split > div {
    grid-template-columns: 1fr 1fr;
  }

  .banner.split.narrow-media > div {
    grid-template-columns: 1fr 2fr;
  }

  .banner.split .vid-wrapper {
    aspect-ratio: unset;
  }

  .banner.split .img-wrapper {
    position: relative;
  }

  .banner.split .img-wrapper,
  .banner.split .img-wrapper img {
    max-height: unset;
  }

  .banner.split .img-wrapper img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .banner.split .vid-wrapper .img-wrapper,
  .banner.split .vid-wrapper video,
  .banner.split .vid-wrapper img {
    aspect-ratio: unset;
  }
}

@media (width >= 1000px) {
  .banner.split.narrow-media > div {
    grid-template-columns: 1fr 3fr;
  }

  .banner.split > div > div:not([class]) {
    padding: var(--spacing-900) var(--spacing-800);
  }

  .banner.split .img-wrapper,
  .banner.split .img-wrapper img {
    max-height: unset;
  }
}
